*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Titillium Web', sans-serif;
}

.nav {
    height: 20%;
}

.main {
    height: 100%;
    background:seagreen;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: tomato;
    line-height: 60px;
    list-style: none;
    color: white;
}

.container a{
    text-decoration: none;
    color: white;
}

li:hover {
    animation: changeMe 3s ease-in-out .2s;
}



@keyframes changeMe {
    0%{
        background-color:tomato;}
    50%{
        background-color: yellow;
    }
    75%{
        background-color:yellowgreen;
    }
    100%{
        background-color: tomato;
    }
}