* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.blank{
    height: 70px;
}
  .header {
    font-family: 'Lobster', cursive;
    background-color: tomato;
    height: 70px;
    width: 100%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    position: fixed;
  }

  body {
    font-family: 'Saira Condensed', sans-serif;
  }

  .container1 {
    background-color: tomato;
    float: left;
    height: 1300px;
    width: 50%;
  }

  .container2 {
    background-color:tomato;
    float: right;
    height: 1300px;
    width: 50%;
  }

  .item1_1{
      padding: 3px;
      margin: 5px;
      width: 100%;
      height: 160px;
      background-color: violet;
      font-size: 17px;
  }
  .item1_2{
    padding:3px;
    margin: 5px;
    width: 100%;
    height: 420px;
    background-color: violet;
    font-size: 17px;
}
.item1_3{
    padding: 3px;
    margin: 5px;
    width: 100%;
    height: 100px;
    background-color: violet;
    font-size: 17px;
}
.item1_4{
    padding: 3px;
    margin: 5px;
    width: 100%;
    height: 280px;
    background-color: violet;
    font-size: 17px;
}
.item1_5{
    padding: 3px;
    margin: 5px;
    width: 100%;
    height: 150px;
    background-color: violet;
    font-size: 17px;
}

.item2_1{
    padding: 3px;
    margin: 5px;
    width: 100%;
    height: 160px;
    background-color:rgb(228, 151, 228);
    font-size: 17px;
}

.item2_2{
    padding: 3px;
    margin: 5px;
    width: 100%;
    height: 420px;
    background-color:rgb(228, 151, 228);
    font-size: 17px;
}

.item2_3{
    padding: 3px;
    margin: 5px;
    width: 100%;
    height: 100px;
    background-color:rgb(228, 151, 228);
    font-size: 17px;
}

.item2_4{
    padding: 3px;
    margin: 5px;
    width: 100%;
    height: 280px;
    background-color:rgb(228, 151, 228);
    font-size: 17px;
}

.item2_5{
    padding: 3px;
    margin: 5px;
    width: 100%;
    height: 150px;
    background-color:rgb(228, 151, 228);
    font-size: 17px;
}

.footer{
    background-color:tomato;
    width: 100%;
    position:fixed;
    height: 30px;
    text-align: center;
    bottom: 0;
}