* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
	width:100%;
	margin:auto;
	background-image: url("../assets/blue.gif");
	font-family:Roboto Mono;
}


header{
	margin:auto;
	margin-top:1em;
	margin-bottom:1em;
	width:480px;
	background-color:rgba(255,100,255,0.75);
	box-shadow: -7px 7px 0px 0px rgba(0,0,0,1);
	animation-name: border1;
	animation-duration:15s;
	animation-iteration-count: infinite;
}

	header h1{
			text-align: center;
			font-style: bold;
			color:(0,0,0);
			margin-bottom:0;
		}
		header h1:hover{
				animation-name:textHover1;
				animation-duration:3s;
				animation-iteration-count:infinite;
			}
	header h2{
		font-size:1em;
		text-align:center;
	}

nav{
	margin-top:2em;
	font-family:Roboto Mono;
	margin-bottom:2em;
	text-align: center;
}

a{
	text-decoration: none;
}


footer{
	margin:auto;
    width:640px;
	background-color:rgba(255,100,255,0.75);
	box-shadow: -7px 7px 0px 0px rgba(0,0,0,1);
	animation-name: border1;
	animation-duration:15s;
	animation-iteration-count: infinite;
	top: 10px;
}

footer{
	margin-top:1em;
	margin-bottom:3em;
	
}
footer p{
	text-align:center;
}



/* === ANIMATION === */
@keyframes border1{
	0%	 {border-style:solid; border-color:rgba(255,0,0,1);}
	33%  {border-style:solid; border-color:rgba(0,255,0,1);}
	66%  {border-style:solid; border-color:rgba(0,0,255,1);}
	100% {border-style:solid; border-color:rgba(255,0,0,1);}
}
@keyframes textHover1{
	0%	 {color:rgba(255,0,0,1);}
	33%  {color:rgba(0,255,0,1);}
	66%  {color:rgba(0,0,255,1);}
	100% {color:rgba(255,0,0,1);}
}

@keyframes videofade{
	0%   {opacity:0;}
	100% {opacity:1;}
}

container {
    display:flex;
    height: 100%;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

container2 {
    display:flex;
    height: 100%;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

container3 {
    display:flex;
    height: 100%;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

item{
    flex-grow: 1;
    margin: 30px;
    width: 100px;
    height: 175px;
    font-size: 42px;
}


video
{
	width: 100%;

}


img{
	max-width: 20%;
	height: auto;
}

#center {  
	text-align: center;  
}  

